---
# The name of your project
title: Spring Data REST

badges:

  # Specify your project's twitter handle, if any. Delete if none.
  twitter: SpringData

  # Customize your project's badges. Delete any entries that do not apply.
  custom:
    - name: Source (GitHub)
      url:  https://github.com/spring-projects/spring-data-rest
      icon: github

    - name: Issues (JIRA)
      url:  https://jira.spring.io/browse/DATAREST
      icon: tracking

    - name: CI (Bamboo)
      url:  https://build.springsource.org/browse/SPRINGDATAREST
      icon: ci

    - name: StackOverflow
      url:  http://stackoverflow.com/questions/tagged/spring-data-rest
      icon: stackoverflow

---
<!DOCTYPE HTML>
<html lang="en-US">

<!-- Specify the parent of this project (or delete if none) to influence the rendering of the breadcrumb -->
{% capture parent_link %}
[Spring Data]({{ site.projects_site_url }}/spring-data)
{% endcapture %}


{% capture billboard_description %}
Spring Data REST is part of the umbrella [Spring Data](#) project and makes it easy to build hypermedia-driven REST web services on top of Spring Data repositories.
{% endcapture %}

{% capture main_content %}
Spring Data REST builds on top of Spring Data repositories, analyzes your application's domain model and exposes hypermedia-driven HTTP resources for aggregates contained in the model.

## Features

* Exposes a discoverable REST API for your domain model using HAL as media type.
* Exposes [collection, item and association resources](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#repository-resources) representing your model.
* Supports pagination via [navigational links](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#paging-and-sorting).
* Allows to dynamically filter collection resources.
* Exposes dedicated [search resources for query methods](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#repository-resources.query-method-resource) defined in your repositories.
* Allows to [hook into the handling of REST requests](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#events) by handling Spring `ApplicationEvent`s.
* [Exposes metadata](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#metadata) about the model discovered as ALPS and JSON Schema.
* Allows to define client specific representations through [projections](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#projections-excerpts).
* Ships a customized variant of the [HAL Browser](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#_the_hal_browser) to leverage the exposed metadata.
* Currently supports JPA, MongoDB, Neo4j, Solr, Cassandra, Gemfire.
* Allows [advanced customizations](http://docs.spring.io/spring-data/rest/docs/current/reference/html/#customizing-sdr) of the default resources exposed.

<span id="quick-start"></span>

## Quick Start

{% include download_widget.md %}

{% endcapture %}

{% capture related_resources %}

### Sample Projects

* [Spring Data Examples - REST](https://github.com/spring-projects/spring-data-examples/tree/master/rest)
* [Spring-a-Gram](https://github.com/gregturn/spring-a-gram)
* [Spring RESTBucks](https://github.com/olivergierke/spring-restbucks)
* [Spring Data Book Example](https://github.com/SpringSource/spring-data-book/tree/master/rest)

### Getting Started Guides

* [Accessing JPA Data with REST]({{site.main_site_url}}/guides/gs/accessing-data-rest)
* [Accessing Neo4j Data with REST]({{site.main_site_url}}/guides/gs/accessing-neo4j-data-rest)
* [Accessing MongoDB Data with REST]({{site.main_site_url}}/guides/gs/accessing-mongodb-data-rest)
* [Accessing GemFire Data with REST]({{site.main_site_url}}/guides/gs/accessing-gemfire-data-rest)

### Presentations

* [Spring Data REST - Repositories meet hypermedia](https://speakerdeck.com/olivergierke/spring-data-rest-repositories-meet-hypermedia)
* [Hypermedia APIs with Spring](https://speakerdeck.com/olivergierke/hypermedia-apis-with-spring-5)
* [Spring RESTBucks - A Hypermedia REST WebService](https://speakerdeck.com/olivergierke/spring-restbucks-a-hypermedia-rest-web-service)

{% endcapture %}

{% include project_page.html %}
</html>
