@IMPORT url("manual.css");

body {
  background: url("../images/background.png") no-repeat center top;
}

span.property {
  font-family: monospace;
}

div.command-synopsis {
  font-family: monospace;
}